<?xml version="1.0" encoding="utf-8"?><checkstyle version="4.3"><file name="G:\INFOSYS\MEAN Stack\PROJECT FA 4\Final Project\ShoppingCart_WS\app.js"></file><file name="G:\INFOSYS\MEAN Stack\PROJECT FA 4\Final Project\ShoppingCart_WS\routes\routing.js"></file><file name="G:\INFOSYS\MEAN Stack\PROJECT FA 4\Final Project\ShoppingCart_WS\public\javascripts\connection.js"></file><file name="G:\INFOSYS\MEAN Stack\PROJECT FA 4\Final Project\ShoppingCart_WS\public\javascripts\dbSetup.js"></file><file name="G:\INFOSYS\MEAN Stack\PROJECT FA 4\Final Project\ShoppingCart_WS\public\javascripts\errorLogger.js"></file><file name="G:\INFOSYS\MEAN Stack\PROJECT FA 4\Final Project\ShoppingCart_WS\public\javascripts\requestLogger.js"></file><file name="G:\INFOSYS\MEAN Stack\PROJECT FA 4\Final Project\ShoppingCart_WS\public\javascripts\user_service.js"></file><file name="G:\INFOSYS\MEAN Stack\PROJECT FA 4\Final Project\ShoppingCart_WS\public\javascripts\validator.js"></file></checkstyle>