/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background: rgb(48,79,254);
    background: linear-gradient(354deg, rgba(48,79,254,1) 0%, rgba(48,79,254,1) 19%, rgba(140,158,255,1) 75%, rgba(140,158,255,1) 95%);
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
